* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 96%;
    vertical-align: baseline;
    background: transparent;
}

:root {
    --backgroundMain: rgb(254, 255, 240);
    --backgroundFooter: rgb(132, 132, 132);
    --bg:#000000;
    --text:#ffffff;
}

/*---- Dark Mode ----*/

#dark-mode:checked ~ .color-scheme-wrapper {
       --bg:#fff;
       --text:#333;
}
   
   
.color-scheme-wrapper {
       background:var(--bg);
       color:var(--text);
}


@media (prefers-color-scheme: dark) {
    :root {
        --bg:white;
	--text:black;
	}
}

#color-mode:checked ~ .color-scheme-wrapper {
	--bg:white;
	--text:black;
}

@media (prefers-color-scheme: dark) {
    #color-mode:checked ~ .color-scheme-wrapper {
        --bg:black;
        --text:white;
    }
    #color-mode:checked ~ .color-scheme-wrapper .minecraft-col{
        background-color: black;
    }
    #color-mode:checked ~ .color-scheme-wrapper nav a {
        color: white;
        background-color: black;
    }
    
}   
.color-scheme-wrapper {
    min-height:100vh;
    background:var(--bg);
    color:var(--text);
}

h1 {
    color: var(--backgroundMain);
    padding-top: 20px;
    text-align: center;
    font-size: 120%;
}

header {
    text-align: center;
    color: var(--backgroundMain);
}

/* ----- background -----*/

#skyAndDirt {
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 20, 0.5), rgba(4, 9, 20, 0.5)), url(SkyAndDirt.png);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 50vh;
}

.hintergrund {
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 20, 0.5), rgba(4, 9, 20, 0.5)), url(darkgrayBackground.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 30vh;
    /*Länge des Backgrounds ändern*/
}

/* ----- nav -----*/

nav {
    padding: 20px 0px;
}

nav a {
    color: black;
    text-decoration: none;
    background-color: var(--backgroundMain);
    border: 1px solid black;
    border-bottom: none;
    padding: 15px;
    display: block;
    text-align: center;
}

nav li:last-child a {
    border-bottom: 1px solid black;
}

nav a:hover {
    background-color: lightgrey;
}

/* ----- main -----*/

.minecraft {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.row {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.minecraft-col {
    flex-basis: 100%;
    background: var(--bg);
    border-radius: 15px;
    padding: 20px 10px;
    box-sizing: border-box;
}

.minecraft-col p {
    text-align: left;
    margin-left: 3%;
    line-height: 18px;
}

/* ----- responsive -----*/

@media (max-width: 700px) {
    .minecraft {
        width: 95%;
        margin: auto;
        text-align: center;
        padding-bottom: 50px;
    }

    .row {
        flex-flow: column;
    }

    .minecraft-col {
        margin: 10px;
    }

    .minecraft-col p {
        background: var(--backgroundMain);
        text-align: left;
        margin-left: 2%;
        font-size: 96%;
    }
}

/* ----- footer -----*/

footer {
    width: auto;
    padding: 20px;
    clear: both;
    background: var(--backgroundFooter);
}

footer h5 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

footer p {
    text-align: center;
    margin: 5px 0;
    line-height: 20px;
}