:root {
    /* Variablen */
}

*,
*::before,
*::after {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 96%;
    vertical-align: baseline;
    background: transparent;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: red;
}

nav {
    grid-area: nav;
    background-color: blue;
}

main {
    grid-area: main;
    background-color: yellow;
}

footer {
    grid-area: footer;
    background-color: green;
}

@media (min-width: 450px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header header header";
    }
}